---
import PageLayout from '../layouts/BaseLayout.astro';
import Section from '../components/Section.astro';
// import Card from '../components/Card.astro'
// import ProjectCard from '../components/ProjectCard.astro'
// import Label from '../components/Label.astro'
import SkillLayout from '../components/SkillLayout.astro';
import PostPreview from '@/components/blog/PostPreview.astro';

import { Image } from 'astro:assets';
import viichan from '../assets/viichan.png';

import { getAllPosts, sortMDByDate } from '@/utils';

const languages = ['Javascript', 'Typescript', 'Python', 'C', 'C++'];
const frameworks = ['Nestjs', 'Express', 'Fastify'];
const others = ['Docker', 'Insomnia', 'Git'];

const MAX_POSTS = 10;
const allPosts = await getAllPosts();
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);
---

<PageLayout meta={{ title: 'Home' }}>
	<div class='flex w-full flex-col gap-y-10'>
		<section class='flex flex-col items-center gap-y-7'>
			<Image src={viichan} alt='profile photo' class='h-28 w-auto p-2' loading='eager' />

			<div class='flex flex-col items-center gap-y-4'>
				<h1 class='text-3xl font-bold'>bmcyver</h1>
			</div>
		</section>

		<Section title='About'>
			<p class='text-muted-foreground'>
				I'm <b>16 y/o student developer</b> from South Korea, using <b>Typescript</b>.
				<br />
				Also, I'm interested in <b>web hacking</b> and learning <b>new technologies</b>.
			</p>
		</Section>
		{
			allPostsByDate.length > 0 && (
				<Section title='Posts'>
					<ul class='flex flex-col gap-y-2'>
						{allPostsByDate.map((p) => (
							<li class='flex flex-col gap-x-2 sm:flex-row'>
								<PostPreview post={p} />
							</li>
						))}
					</ul>
				</Section>
			)
		}

		<!-- <Section title='Experience'>
			<Card
				heading='Lorem Ipsum'
				subheading='Sit amet consectetur'
				date='Dec 2022 - Nov 2023'
				imagePath='/src/assets/about-astro.png'
				altText='Lorem, ipsum dolor sit'
				imageClass='h-12 w-auto md:-left-16'
			>
				<ul class='ml-4 list-disc text-muted-foreground'>
					<li>
						Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore debitis recusandae, ut
						molestiae laboriosam pariatur!

						<li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, pariatur!</li>
					</li>
				</ul>
			</Card>
			<Card
				heading='Lorem Ipsum'
				subheading='Sit amet consectetur'
				date='Dec 2022 - Nov 2023'
				imagePath='/src/assets/about-astro.png'
				altText='Lorem, ipsum dolor sit'
				imageClass='h-12 w-auto md:-left-16'
			/>
		</Section> -->

		<!-- <Section title='Education'>
			<Card
				heading='Lorem Ipsum'
				subheading='Sit amet consectetur'
				date='Dec 2022 - Nov 2023'
				imagePath='/src/assets/about-astro.png'
				altText='Lorem, ipsum dolor sit'
				imageClass='h-12 w-auto md:-left-16'
			>
				<ul class='ml-4 list-disc text-muted-foreground'>
					<li>
						Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore debitis recusandae, ut
						molestiae laboriosam pariatur!

						<li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, pariatur!</li>
					</li>
				</ul>
			</Card>
			<Card
				heading='Lorem Ipsum'
				subheading='Sit amet consectetur'
				date='Dec 2022 - Nov 2023'
				imagePath='/src/assets/about-astro.png'
				altText='Lorem, ipsum dolor sit'
				imageClass='h-12 w-auto md:-left-16'
			/>
		</Section> -->

		<!-- <Section title='Projects'>
			<div class='flex flex-col gap-y-3 sm:flex-row sm:gap-x-3 sm:gap-y-0'>
				<ProjectCard
					href='https://www.google.com'
					heading='Consectetur'
					subheading='Lorem ipsum dolor sit amet consectetur adipisicing elit.'
					imagePath='/src/assets/coming-soon.png'
					altText='Example'
					class='w-full sm:w-1/2'
				/>
				<ProjectCard
					as='div'
					heading='Coming soon...'
					subheading=''
					imagePath='/src/assets/coming-soon.png'
					altText='Lorem, ipsum dolor sit'
					class='w-full sm:w-1/2'
				/>
			</div>
		</Section> -->

		<!-- <Section title='Certifications'>
			<Card
				as='a'
				heading='Lorem ipsum, dolor sit amet consectetur adipisicing.'
				subheading='Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam dicta magni consequuntur corrupti.'
				date='Mar 2024 - Mar 2024'
				imagePath='/src/assets/about-astro.png'
				altText='Lorem, ipsum dolor sit'
				imageClass='h-11 w-auto md:-left-16'
				href='https://www.google.com'
			/>
			<Card
				as='a'
				heading='Lorem ipsum, dolor sit amet'
				subheading='Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam dicta.'
				date='Mar 2029 - Mar 2032'
				imagePath='/src/assets/about-astro.png'
				altText='Lorem, ipsum dolor sit'
				imageClass='h-11 w-auto md:-left-16'
				href='https://www.google.com'
			/>
		</Section> -->

		<Section title='Skills'>
			<SkillLayout title='Languages' skills={languages} />
			<SkillLayout title='Frameworks' skills={frameworks} />
			<SkillLayout title='Others' skills={others} />
		</Section>
	</div>
</PageLayout>
